@using LibCore
@using iSpeakCore.Controllers
@{
    iSpeakCore.Models.UserAccountRolesModel userAccess = iSpeakCore.Controllers.UserAccountsController.getUserAccess(Context);
}

<!--begin::sidebar menu-->
<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
    <!--begin::Menu wrapper-->
    <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
        <!--begin::Scroll wrapper-->
        <div id="kt_app_sidebar_menu_scroll"
             class="scroll-y my-5 mx-3"
             data-kt-scroll="true"
             data-kt-scroll-activate="true"
             data-kt-scroll-height="auto"
             data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
             data-kt-scroll-wrappers="#kt_app_sidebar_menu"
             data-kt-scroll-offset="5px"
             data-kt-scroll-save-state="true">

            <!--begin::Menu-->
            <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
                 id="#kt_app_sidebar_menu"
                 data-kt-menu="true"
                 data-kt-menu-expand="false">
                @* 
                <div class="menu-item">
                    <div class="menu-content"><span class="menu-heading fw-bold text-uppercase fs-7">INTERNAL</span></div>
                </div> *@

                @if (userAccess.LessonSessions_View)
                {
                    <div class="menu-item"><a id="Menu_@HomeController.CONTROLLERNAME" class="menu-link" href="@Url.Action(nameof(HomeController.Index), HomeController.CONTROLLERNAME)"><span class="menu-icon"><i class="ki-duotone ki-home fs-2"></i></span><span class="menu-title">@HomeController.PAGETITLE</span></a></div>
                }

                <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                    <span id="Menu_@Helper.NAVIGATION_MENU_Sales" class="menu-link"><span class="menu-icon"><i class="bi bi-receipt fs-2"></i></span><span class="menu-title">@Helper.NAVIGATION_MENU_Sales</span><span class="menu-arrow"></span></span>
                    <div class="menu-sub menu-sub-accordion">

                        @if (userAccess.SaleInvoices_View)
                        {
                            <div class="menu-item"><a id="Menu_@SaleInvoicesController.CONTROLLERNAME" class="menu-link" href="@Url.Action(nameof(SaleInvoicesController.Index), SaleInvoicesController.CONTROLLERNAME, new { rss=1 })"><span class="menu-icon"><i class="bi bi-receipt fs-2"></i></span><span class="menu-title">@SaleInvoicesController.PAGETITLE</span></a></div>
                        }
                        @if (userAccess.Payments_View)
                        {
                            <div class="menu-item"><a id="menu_@PaymentsController.CONTROLLERNAME" class="menu-link" href="@Url.Action(nameof(PaymentsController.Index), PaymentsController.CONTROLLERNAME, new { rss=1 })"><span class="menu-icon"><i class="bi bi-currency-dollar fs-2"></i></span><span class="menu-title">@PaymentsController.PAGETITLE</span></a></div>
                        }
                    </div>
                </div>

                <div class="menu-item"><a id="Menu_@LessonSessionsController.CONTROLLERNAME" class="menu-link" href="@Url.Action(nameof(LessonSessionsController.Index), LessonSessionsController.CONTROLLERNAME)"><span class="menu-icon"><i class="bi bi-ticket-perforated fs-2"></i></span><span class="menu-title">@LessonSessionsController.PAGETITLE</span></a></div>

                <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                    <span id="Menu_@Helper.NAVIGATION_MENU_Internal" class="menu-link"><span class="menu-icon"><i class="ki-outline ki-gear fs-2"></i></span><span class="menu-title">@Helper.NAVIGATION_MENU_Internal</span><span class="menu-arrow"></span></span>
                    <div class="menu-sub menu-sub-accordion">
                        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention">
                            <span id="Menu_" class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-abstract-26 fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Inventory</span><span class="menu-arrow"></span></span>
                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-2 py-4 w-200px mh-75 overflow-auto">
                                <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=pages/about"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Suppliers</span></a></div>
                                <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=pages/about"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Products</span></a></div>
                                <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=pages/about"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Units</span></a></div>
                            </div>
                        </div>
                        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention">
                            <span id="Menu_" class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-file fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Lessons</span><span class="menu-arrow"></span></span>
                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-2 py-4 w-200px mh-75 overflow-auto">
                                <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=pages/about"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Languages</span></a></div>
                                <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=pages/about"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Types</span></a></div>                                
                                @if (userAccess.LessonPackages_View)
                                {
                                    <div class="menu-item"><a id="Menu_@LessonPackagesController.CONTROLLERNAME" class="menu-link" href="@Url.Action(nameof(LessonPackagesController.Index), LessonPackagesController.CONTROLLERNAME, new { rss=1 })"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">@LessonPackagesController.PAGETITLE</span></a></div>
                                }
                                <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=pages/about"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Club Classes</span></a></div>
                                <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=pages/about"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Club Class Online Links</span></a></div>
                            </div>
                        </div>
                        <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=account/overview"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Expense Categories</span></a></div>
                        <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=account/overview"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Consignments</span></a></div>
                        <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=account/overview"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Vouchers</span></a></div>
                        <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=account/overview"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Services</span></a></div>
                        <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=account/overview"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Petty Cash Categories</span></a></div>
                        <div class="menu-item"><a id="Menu_" class="menu-link" href="?page=account/overview"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">Promotion Events</span></a></div>

                        @if (userAccess.Reminders_View)
                        {
                            <div class="menu-item"><a id="Menu_@RemindersController.CONTROLLERNAME" class="menu-link" href="@Url.Action(nameof(RemindersController.Index), RemindersController.CONTROLLERNAME, new { rss=1 })"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">@RemindersController.PAGETITLE</span></a></div>
                        }
                        @if (userAccess.UserAccountRoles_View)
                        {
                            <div class="menu-item"><a id="Menu_@UserAccountRolesController.CONTROLLERNAME" class="menu-link" href="@Url.Action(nameof(UserAccountRolesController.Index), UserAccountRolesController.CONTROLLERNAME, new { rss=1 })"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">@UserAccountRolesController.PAGETITLE</span></a></div>
                        }
                        @if (userAccess.Branches_View)
                        {
                            <div class="menu-item"><a id="Menu_@BranchesController.CONTROLLERNAME" class="menu-link" href="@Url.Action(nameof(BranchesController.Index), BranchesController.CONTROLLERNAME, new { rss=1 })"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">@BranchesController.PAGETITLE</span></a></div>
                        }
                        @if (userAccess.Settings_View)
                        {
                            <div class="menu-item"><a id="Menu_@SettingsController.CONTROLLERNAME" class="menu-link" href="@Url.Action(nameof(SettingsController.Edit), SettingsController.CONTROLLERNAME, new { rss=1 })"><span class="menu-icon"><i class="ki-solid ki-right fs-2"></i></span><span class="menu-title">@SettingsController.PAGETITLE</span></a></div>
                        }
                    </div>
                </div>

                @if (userAccess.UserAccounts_View)
                {
                    <div class="menu-item"><a id="Menu_@UserAccountsController.CONTROLLERNAME" class="menu-link" href="@Url.Action(nameof(UserAccountsController.Index), UserAccountsController.CONTROLLERNAME, new { rss=1 })"><span class="menu-icon"><i class="bi bi-people-fill fs-2"></i></span><span class="menu-title">@UserAccountsController.PAGETITLE</span></a></div>
                }

            </div>
            <!--end::Menu-->
        </div>
        <!--end::Scroll wrapper-->
    </div>
    <!--end::Menu wrapper-->
</div>
<!--end::sidebar menu-->



@*
<!--begin::Menu-->
<div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
        id="#kt_app_sidebar_menu"
        data-kt-menu="true"
        data-kt-menu-expand="false">

    <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
        <span class="menu-link">
            <span class="menu-icon">
                <i class="ki-duotone ki-element-11 fs-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                </i>
            </span>
            <span class="menu-title">Dashboards</span>
            <span class="menu-arrow"></span>
        </span>

        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
                <a class="menu-link active" href="?page=index">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">Default</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link" href="?page=dashboards/ecommerce">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">eCommerce</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link" href="?page=dashboards/projects">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">Projects</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link" href="?page=dashboards/online-courses">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span><span class="menu-title">Online Courses</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link" href="?page=dashboards/marketing">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">Marketing</span>
                </a>
            </div>

            <div class="menu-inner flex-column collapse " id="kt_app_sidebar_menu_dashboards_collapse">

                <div class="menu-item">
                    <a class="menu-link" href="?page=dashboards/bidding">
                        <span class="menu-bullet">
                            <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Bidding</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" href="?page=dashboards/pos">
                        <span class="menu-bullet">
                            <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">POS System</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" href="?page=dashboards/call-center">
                        <span class="menu-bullet">
                            <span class="bullet bullet-dot"></span>
                        </span><span class="menu-title">Call Center</span>
                    </a>
                </div>

                <div class="menu-item"><a class="menu-link" href="?page=dashboards/logistics"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Logistics</span></a></div>
                <div class="menu-item"><a class="menu-link" href="?page=dashboards/website-analytics"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Website Analytics</span></a></div>
                <div class="menu-item"><a class="menu-link" href="?page=dashboards/finance-performance"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Finance Performance</span></a></div>
                <div class="menu-item"><a class="menu-link" href="?page=dashboards/store-analytics"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Store Analytics</span></a></div>
                <div class="menu-item"><a class="menu-link" href="?page=dashboards/social"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Social</span></a></div>
                <div class="menu-item"><a class="menu-link" href="?page=dashboards/delivery"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Delivery</span></a></div>
                <div class="menu-item"><a class="menu-link" href="?page=dashboards/crypto"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Crypto</span></a></div>

                <div class="menu-item"><a class="menu-link" href="?page=dashboards/school"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">School</span></a></div>

                <div class="menu-item"><a class="menu-link" href="?page=dashboards/podcast"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Podcast</span></a></div>

                <div class="menu-item"><a class="menu-link" href="?page=landing"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Landing</span></a></div>
            </div>

            <div class="menu-item">
                <div class="menu-content">
                    <a class="btn btn-flex btn-color-primary d-flex flex-stack fs-base p-0 ms-2 mb-2 toggle collapsible collapsed" data-bs-toggle="collapse" href="#kt_app_sidebar_menu_dashboards_collapse" data-kt-toggle-text="Show Less">
                        <span data-kt-toggle-text-target="true">Show 12 More</span> <i class="ki-duotone ki-minus-square toggle-on fs-2 me-0"><span class="path1"></span><span class="path2"></span></i><i class="ki-duotone ki-plus-square toggle-off fs-2 me-0"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="menu-item pt-5">
        <div class="menu-content"><span class="menu-heading fw-bold text-uppercase fs-7">Pages</span></div>
    </div>

    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-address-book fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span><span class="menu-title">User Profile</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=pages/user-profile/overview"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Overview</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/user-profile/projects"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Projects</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/user-profile/campaigns"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Campaigns</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/user-profile/documents"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Documents</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/user-profile/followers"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Followers</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/user-profile/activity"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Activity</span></a></div>
        </div>
    </div>

    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-element-plus fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i></span><span class="menu-title">Account</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=account/overview"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Overview</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=account/settings"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Settings</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=account/security"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Security</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=account/activity"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Activity</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=account/billing"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Billing</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=account/statements"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Statements</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=account/referrals"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Referrals</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=account/api-keys"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">API Keys</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=account/logs"><span class="menu-bullet"><span class="bullet bullet-dot"></spa   n></span><span class="menu-title">Logs</span></a></div>
        </div>
    </div>

    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-user fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Authentication</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Corporate Layout</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion menu-active-bg">
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/corporate/sign-in"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sign-in</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/corporate/sign-up"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sign-up</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/corporate/two-factor"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Two-Factor</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/corporate/reset-password"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Reset Password</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/corporate/new-password"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">New Password</span></a></div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Overlay Layout</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion menu-active-bg">
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/overlay/sign-in"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sign-in</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/overlay/sign-up"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sign-up</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/overlay/two-factor"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Two-Factor</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/overlay/reset-password"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Reset Password</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/overlay/new-password"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">New Password</span></a></div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Creative Layout</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion menu-active-bg">
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/creative/sign-in"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sign-in</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/creative/sign-up"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sign-up</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/creative/two-factor"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Two-Factor</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/creative/reset-password"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Reset Password</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/creative/new-password"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">New Password</span></a></div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Fancy Layout</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion menu-active-bg">
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/fancy/sign-in"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sign-in</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/fancy/sign-up"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sign-up</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/fancy/two-factor"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Two-Factor</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/fancy/reset-password"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Reset Password</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/layouts/fancy/new-password"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">New Password</span></a></div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Email Templates</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion menu-active-bg">
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/email/welcome-message"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Welcome Message</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/email/reset-password"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Reset Password</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/email/subscription-confirmed"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Subscription Confirmed</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/email/card-declined"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Credit Card Declined</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/email/promo-1"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Promo 1</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/email/promo-2"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Promo 2</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=authentication/email/promo-3"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Promo 3</span></a></div>
                </div>
            </div>
            <div class="menu-item"><a class="menu-link" href="?page=authentication/extended/multi-steps-sign-up"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Multi-steps Sign-up</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=authentication/general/welcome"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Welcome Message</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=authentication/general/verify-email"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Verify Email</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=authentication/general/coming-soon"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Coming Soon</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=authentication/general/password-confirmation"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Password Confirmation</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=authentication/general/account-deactivated"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Account Deactivation</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=authentication/general/error-404"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Error 404</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=authentication/general/error-500"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Error 500</span></a></div>
        </div>
    </div>

    <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-file fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Corporate</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-2 py-4 w-200px mh-75 overflow-auto">
            <div class="menu-item"><a class="menu-link" href="?page=pages/about"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">About</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/team"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Our Team</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/contact"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Contact Us</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/licenses"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Licenses</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/sitemap"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sitemap</span></a></div>
        </div>
    </div>

    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-abstract-39 fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Social</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=pages/social/feeds"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Feeds</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/social/activity"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Activty</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/social/followers"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Followers</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/social/settings"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Settings</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-bank fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Blog</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion menu-active-bg">
            <div class="menu-item"><a class="menu-link" href="?page=pages/blog/home"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Blog Home</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/blog/post"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Blog Post</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-chart-pie-3 fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span><span class="menu-title">FAQ</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion menu-active-bg">
            <div class="menu-item"><a class="menu-link" href="?page=pages/faq/classic"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">FAQ Classic</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/faq/extended"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">FAQ Extended</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-bucket fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i></span><span class="menu-title">Pricing</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion menu-active-bg">
            <div class="menu-item"><a class="menu-link" href="?page=pages/pricing"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Column Pricing</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/pricing/table"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Table Pricing</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-call fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></i></span><span class="menu-title">Careers</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=pages/careers/list"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Careers List</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=pages/careers/apply"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Careers Apply</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-color-swatch fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span></i></span><span class="menu-title">Utilities</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Modals</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">General</span><span class="menu-arrow"></span></span>
                        <div class="menu-sub menu-sub-accordion menu-active-bg">
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/general/invite-friends"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Invite Friends</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/general/view-users"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">View Users</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/general/select-users"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Select Users</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/general/upgrade-plan"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Upgrade Plan</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/general/share-earn"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Share & Earn</span></a></div>
                        </div>
                    </div>
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Forms</span><span class="menu-arrow"></span></span>
                        <div class="menu-sub menu-sub-accordion menu-active-bg">
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/forms/new-target"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">New Target</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/forms/new-card"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">New Card</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/forms/new-address"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">New Address</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/forms/create-api-key"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create API Key</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/forms/bidding"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Bidding</span></a></div>
                        </div>
                    </div>
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Wizards</span><span class="menu-arrow"></span></span>
                        <div class="menu-sub menu-sub-accordion menu-active-bg">
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/wizards/create-app"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create App</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/wizards/create-campaign"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create Campaign</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/wizards/create-account"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create Business Acc</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/wizards/create-project"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create Project</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/wizards/top-up-wallet"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Top Up Wallet</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/wizards/offer-a-deal"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Offer a Deal</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/wizards/two-factor-authentication"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Two Factor Auth</span></a></div>
                        </div>
                    </div>
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Search</span><span class="menu-arrow"></span></span>
                        <div class="menu-sub menu-sub-accordion menu-active-bg">
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/search/users"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Users</span></a></div>
                            <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/search/select-location"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Select Location</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Search</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/search/horizontal"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Horizontal</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/search/vertical"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Vertical</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/search/users"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Users</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/search/select-location"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Location</span></a></div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Wizards</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/wizards/horizontal"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Horizontal</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/wizards/vertical"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Vertical</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/wizards/two-factor-authentication"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Two Factor Auth</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/wizards/create-app"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create App</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/wizards/create-campaign"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create Campaign</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/wizards/create-account"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create Account</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/wizards/create-project"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create Project</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/modals/wizards/top-up-wallet"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Top Up Wallet</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=utilities/wizards/offer-a-deal"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Offer a Deal</span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-element-7 fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Widgets</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=widgets/lists"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Lists</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=widgets/statistics"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Statistics</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=widgets/charts"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Charts</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=widgets/mixed"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Mixed</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=widgets/tables"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Tables</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=widgets/feeds"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Feeds</span></a></div>
        </div>
    </div>

    <div class="menu-item pt-5"><div class="menu-content"><span class="menu-heading fw-bold text-uppercase fs-7">Apps</span></div></div>

    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-abstract-41 fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Projects</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=apps/projects/list"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">My Projects</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/projects/project"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">View Project</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/projects/targets"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Targets</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/projects/budget"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Budget</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/projects/users"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Users</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/projects/files"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Files</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/projects/activity"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Activity</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/projects/settings"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Settings</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-basket fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i></span><span class="menu-title">eCommerce</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Catalog</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/catalog/products"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Products</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/catalog/categories"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Categories</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/catalog/add-product"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Add Product</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/catalog/edit-product"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Edit Product</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/catalog/add-category"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Add Category</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/catalog/edit-category"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Edit Category</span></a></div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sales</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/sales/listing"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Orders Listing</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/sales/details"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Order Details</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/sales/add-order"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Add Order</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/sales/edit-order"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Edit Order</span></a></div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Customers</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/customers/listing"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Customer Listing</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/customers/details"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Customer Details</span></a></div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Reports</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/reports/view"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Products Viewed</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/reports/sales"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Sales</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/reports/returns"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Returns</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/reports/customer-orders"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Customer Orders</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/reports/shipping"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Shipping</span></a></div>
                </div>
            </div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/ecommerce/settings"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Settings</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-abstract-25 fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Contacts</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=apps/contacts/getting-started"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Getting Started</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/contacts/add-contact"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Add Contact</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/contacts/edit-contact"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Edit Contact</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/contacts/view-contact"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">View Contact</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-chart fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Support Center</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=apps/support-center/overview"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Overview</span></a></div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Tickets</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item"><a class="menu-link" href="?page=apps/support-center/tickets/list"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Tickets List</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/support-center/tickets/view"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">View Ticket</span></a></div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Tutorials</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item"><a class="menu-link" href="?page=apps/support-center/tutorials/list"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Tutorials List</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/support-center/tutorials/post"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Tutorial Post</span></a></div>
                </div>
            </div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/support-center/faq"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">FAQ</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/support-center/licenses"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Licenses</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/support-center/contact"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Contact Us</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-abstract-28 fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">User Management</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Users</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item"><a class="menu-link" href="?page=apps/user-management/users/list"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Users List</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/user-management/users/view"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">View User</span></a></div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Roles</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion">
                    <div class="menu-item"><a class="menu-link" href="?page=apps/user-management/roles/list"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Roles List</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/user-management/roles/view"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">View Role</span></a></div>
                </div>
            </div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/user-management/permissions"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Permissions</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-abstract-38 fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Customers</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=apps/customers/getting-started"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Getting Started</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/customers/list"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Customer Listing</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/customers/view"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Customer Details</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-map fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span><span class="menu-title">Subscription</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=apps/subscriptions/getting-started"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Getting Started</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/subscriptions/list"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Subscription List</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/subscriptions/add"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Add Subscription</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/subscriptions/view"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">View Subscription</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-credit-cart fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Invoice Manager</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">View Invoices</span><span class="menu-arrow"></span></span>
                <div class="menu-sub menu-sub-accordion menu-active-bg">
                    <div class="menu-item"><a class="menu-link" href="?page=apps/invoices/view/invoice-1"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Invoice 1</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/invoices/view/invoice-2"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Invoice 2</span></a></div>
                    <div class="menu-item"><a class="menu-link" href="?page=apps/invoices/view/invoice-3"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Invoice 3</span></a></div>
                </div>
            </div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/invoices/create"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create Invoice</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-switch fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">File Manager</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=apps/file-manager/folders"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Folders</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/file-manager/files"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Files</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/file-manager/blank"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Blank Directory</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/file-manager/settings"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Settings</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-sms fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Inbox</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=apps/inbox/listing"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Messages</span><span class="menu-badge"><span class="badge badge-success">3</span></span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/inbox/compose"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Compose</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/inbox/reply"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">View & Reply</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-message-text-2 fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span><span class="menu-title">Chat</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=apps/chat/private"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Private Chat</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/chat/group"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Group Chat</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=apps/chat/drawer"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Drawer Chat</span></a></div>
        </div>
    </div>
    <div class="menu-item"><a class="menu-link" href="?page=apps/calendar"><span class="menu-icon"><i class="ki-duotone ki-calendar-8 fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i></span><span class="menu-title">Calendar</span></a></div>

    <div class="menu-item pt-5"><div class="menu-content"><span class="menu-heading fw-bold text-uppercase fs-7">Layouts</span></div></div>

    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-element-7 fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Layout Options</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=layouts/light-sidebar"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Light Sidebar</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=layouts/dark-sidebar"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Dark Sidebar</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=layouts/light-header"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Light Header</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=layouts/dark-header"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Dark Header</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-text-align-center fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i></span><span class="menu-title">Toolbars</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=toolbars/classic"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Classic</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=toolbars/saas"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">SaaS</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=toolbars/accounting"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Accounting</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=toolbars/extended"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Extended</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=toolbars/reports"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Reports</span></a></div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion"><span class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-menu fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i></span><span class="menu-title">Asides</span><span class="menu-arrow"></span></span>
        <div class="menu-sub menu-sub-accordion">
            <div class="menu-item"><a class="menu-link" href="?page=asides/aside-1"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Filters</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=asides/aside-2"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Segments</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=asides/aside-3"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Shipment History</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=asides/aside-4"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Courier Activity</span></a></div>
            <div class="menu-item"><a class="menu-link" href="?page=asides/aside-5"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Calendar</span></a></div>
        </div>
    </div>
    <div class="menu-item"><a class="menu-link" href="?page=layout-builder"><span class="menu-icon"><i class="ki-duotone ki-abstract-13 fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Layout Builder</span></a></div>

    <div class="menu-item pt-5"><div class="menu-content"><span class="menu-heading fw-bold text-uppercase fs-7">Help</span></div></div>

    <div class="menu-item"><a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs/base/utilities" target="_blank"><span class="menu-icon"><i class="ki-duotone ki-rocket fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Components</span></a></div>
    <div class="menu-item"><a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs" target="_blank"><span class="menu-icon"><i class="ki-duotone ki-abstract-26 fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Documentation</span></a></div>
    <div class="menu-item"><a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs/getting-started/changelog" target="_blank"><span class="menu-icon"><i class="ki-duotone ki-code fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i></span><span class="menu-title">Changelog v8.2.3</span></a></div>
</div>
<!--end::Menu-->
*@